@font-face {
  font-family: 'Wendy One';
  font-style: normal;
  font-weight: 400;
  src: local('Wendy One'), local('WendyOne-Regular'), url(https://fonts.gstatic.com/s/wendyone/v8/2sDcZGJOipXfgfXV5wgzaGW_.woff) format('woff');
}
